<launch>
  <rosparam command="load" file="$(find mobrob_util)/src/robot_info.yaml" />

  <group ns="robot_operate">
    <node pkg="mobrob" name="sensing_node" type="sensing_node.py"/>
    <node pkg="mobrob" name="wheel_control_node" type="wheel_control_node.py"/>
    <node pkg="mobrob" name="sensors_processing_node" type="sensors_processing.py"/>
  </group>


 <!-- New Group called "robot_estimate" to estimate the robot's location based only on sensor data. --> 
 <!-- In this group, launch the "dead_reckoning" node and another "animator" to draw where the robot thinks it is. -->
  <group ns="robot_estimate">
    <!-- first a "dead reckoning" node -->
    <node pkg="mobrob" name="dead_reckoning" type="dead_reckoning.py" />
    
    <!-- then an "animator" node, but remapped to make it subscribe to "/robot_pose_estimated" instead of "/robot_pose_simulated"  -->
    <node pkg="mobrob" name="dead_reckoning_animator" type="mobile_robot_animator.py" >
        <remap from="/robot_pose_simulated" to="/robot_pose_estimated"/>    
    </node>
  </group>


  <group ns="robot_control">
    <node pkg="mobrob" name="set_desired_wheel_speeds" type="set_desired_wheel_speeds_by_path_specs.py"/>
  </group>
  
  
</launch>

