<launch> 
  <rosparam command="load" file="$(find mobrob_util)/src/robot_info.yaml" />
  <!-- Add a parameter that finds the SVG file with the path to follow. You can change the path file by entering its name. --> 
  <param name="path_file_svg" value="$(find mobrob)/src/SVGtest.svg" />

  <group ns="robot_operate">
    <node pkg="mobrob" name="sensing_node" type="sensing_node.py"/>
    <node pkg="mobrob" name="wheel_control_node" type="wheel_control_node.py"/>
    <node pkg="mobrob" name="sensors_processing_node" type="sensors_processing.py"/>
  </group>


  <group ns="robot_simulate">
    <node pkg="mobrob" name="robot_simulator" type="mobile_robot_kinematic_simulator.py"/>
    <node pkg="mobrob" name="robot_animator" type="mobile_robot_animator.py"/>
  </group>


 <!-- New Group called "robot_estimate" to estimate the robot's location based only on sensor data. --> 
 <!-- In this group, launch the "dead_reckoning" node and another "animator" to draw where the robot thinks it is. -->
  <group ns="robot_estimate">
    <!-- first a "dead reckoning" node -->
    <node pkg="mobrob" name="dead_reckoning" type="dead_reckoning.py" />
    
    <!-- then an "animator" node, but remapped to make it subscribe to "/robot_pose_estimated" instead of "/robot_pose_simulated"  -->
    <node pkg="mobrob" name="dead_reckoning_animator" type="mobile_robot_animator.py" >
        <remap from="/robot_pose_simulated" to="/robot_pose_estimated"/>    
    </node>
  </group>

 <!-- Edit the "robot_control" group to launch the "closed_loop_path_follower.py" and "set_path_to_follow.py" nodes. --> 
  <group ns="robot_control">
    <node     />    
    <node     />    
  </group>
  
  
</launch>
